atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.10.15
Click==7.0
colorama==0.4.0
emoji==0.5.1
flatbuffers==1.10
funcsigs==1.0.2
more-itertools==4.3.0
numpy==1.15.4
pluggy==0.8.0
py==1.7.0
pytest==4.0.1
PyYAML==3.13
ray==0.5.3
redis==2.10.6
six==1.11.0
